<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    <add name="SEPFramework.Properties.Settings.DefaultConnection"
      connectionString="Data Source=DON9319\SQLEXPRESS;Initial Catalog=ExampleDatabase;Integrated Security=True;Trusted_Connection=True" />
    <add name="SEPFramework.Properties.Settings.AccountConnection"
      connectionString="Data Source=DON9319\SQLEXPRESS;Initial Catalog=Account;Integrated Security=False;Trusted_Connection=True" />
  </connectionStrings>
</configuration>
